__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

.DS_Store
Thumbs.db
.vscode/
.idea/

*.log
.env

data/html/*
data/pages_text/*
data/chunks/*
data/faqs/*
!data/html/.gitkeep
!data/pages_text/.gitkeep
!data/chunks/.gitkeep
!data/faqs/.gitkeep

backend/index/*
!backend/index/.gitkeep